<!DOCTYPE html>
<html>

<head>
    <title>MVC</title>
    <meta charset="utf-8">
</head>

<body style="text-align: center; font-size: 20px;">
    <form action="../Controller/C_Student.php" name="" method="post">
        <label for="select">Các tiêu chí</label>
        <select name="select" id="" style="font-size: 15px;">
                <option value="id">id</option>
                <option value="name">name</option>
                <option value="age">age</option>
                <option value="university">university</option>
            </select>
        <br><br>
        <label for="info">Nhập thông tin</label>
        <input type="text" name="info">
        <br><br>
        <input type="submit" name="search" value="SEARCH">
        <input type="reset" name="reset" value="RESET">
    </form>
    <p style="font-size:15px; font-style: italic;">
        <a href="../index.php">Home Page</a>
    </p>
</body>

</html>